

/* Configurações Globais */
body {
    background-color: #121212 !important; /* Preto da imagem */
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
}

.gold-text1 {
    color: #E5D1B0 !important; /* Dourado padrão */
}

.gold-text2 {
    color: #C5A059 !important; /* Dourado padrão */
}



.section-dark {
}

/* Utilitários de Texto */
.ls-5 { letter-spacing: 5px; }
.ls-3 { letter-spacing: 3px; }
.ls-2 { letter-spacing: 2px; }

.text-justify {
    text-align: justify;
}

/* Hero Section */
.hero-section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

/*Noivas*/

.noivas{
  background-color: #1e1e1e;
  
}
/* Botões */

.btn-link-gold{
    border: 1px solid #8f7422 !important;
    color: #121212 !important;
    transition: 0.3s !important;
    align-items:end !important;
    background-color: #b8962d !important;
}

.btn-link-gold:hover{
    background-color: #E5D1B0 !important;
}

.btn-outline-gold {
    border: 1px solid #C5A059 !important;
    color: #E5D1B0 !important;
    transition: 0.3s !important;
}

.btn-outline-gold:hover {
    background-color: #E5D1B0 !important;
    color: #000 !important;
}

.btn-gold {
    background-color: #E5D1B0 !important;
    color: #000 !important;
    border: none !important;
    font-size: 0.9rem !important;
    font-weight: 600 !important;
}

.btn-gold:hover {
    background-color: #b8962d !important;
    color: #fff !important;
    transition: 0.3s !important;
}

/* Navbar */
.navbar {
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(5px);
}

.nav-link {
    color: #fff !important;
    font-weight: 300;
    transition: 0.3s;
}

.nav-link:hover {
    color: #d4af37 !important;
}

/* Imagens */
.img-fluid {
    filter: grayscale(20%);
    transition: 0.4s;
}

.img-fluid:hover {
    filter: grayscale(0%);
}

.lead-text {
  color: #E5D1B0;
}
.quote {
    font-size: 60px;
}


.text-footer {
    color: #fff;
}


/* Carrossel noivas*/


.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    display: flex;
}

.carousel-track {
    display: flex;
    gap: 20px;
    /* Calcula a animação: 20s é a velocidade, linear é para não parar */
    animation: scroll 25s linear infinite;
}

.carousel-track img {
    width: 350px; /* Defina um tamanho fixo para estabilidade */
    height: 450px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 10px;
}

/* Pausa o carrossel quando o usuário passa o mouse */
.carousel-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        /* Move até a metade do conteúdo duplicado */
        transform: translateX(calc(-50% - 10px)); 
    }
}


/*Transição suave apos banner*/

