.voltar{
    border: 1px solid #8f7422 !important;
    color: #121212 !important;
    transition: 0.3s !important;
    align-items:end !important;
    background-color: #b8962d !important;
    right: 1px;
}

.voltar{
    background-color: #E5D1B0 !important;
}